/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 ThatTonybo <thattonybo@gmail.com>
 */

row.note.dark-theme:focus {
    background-color: #252525;
}

row.note.light-theme:focus {
    background-color: #DFDFDF;
}

row.note:focus * {
    color: @text_color;
}

editable-label entry {
    background: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
}
